sudo: required
dist: trusty
language: cpp

compiler:
  - gcc

install:
  - if [ "$CXX" = "g++" ]; then export CXX="g++-6" CC="gcc-6"; fi
  - export CPLUS_INCLUDE_PATH=/usr/local/include

addons:
  apt:
    sources:
      - george-edison55-precise-backports # cmake 3.2.3 / doxygen 1.8.3
      - ubuntu-toolchain-r-test
    packages:
      - g++-6
      - cmake
      - cmake-data
      - libopencv-dev
      - libopencv-core-dev
      - libopencv-highgui-dev
      - libopencv-imgproc-dev
      - libboost-all-dev

before_script:
  - mkdir build
  - cd build
  - cmake -DCMAKE_CXX_COMPILER=$COMPILER ..

script:
  - make all
  - ./optic-disc-detector-test