language: cpp

compiler:
  - gcc

env: COMPILER_NAME=gcc CXX=g++-6
addons:
  apt:
    sources:
      - george-edison55-precise-backports # cmake 3.2.3 / doxygen 1.8.3
    packages:
      - g++-6
      - cmake
      - cmake-data
      - libopencv-dev
      - libboost-all-dev

before_script:
  - mkdir build
  - cd build
  - cmake ..

script:
  - make all
  - ./optic-disc-detector-test